.background{
    position: relative;
    height: 90vh;
    background-image: url('../../images/hacking.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.form-content {
    background-color: rgb(245 243 243 / 70%);
    padding: 18px;
    height: 100%;
}

