.army-detail-image {
    background-image: url("../../images/cartoon-army.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    margin-top: 35%;
    border-radius: 5%;
    transition: transform 3s; 
}

.book-detail-image {
    background-image: url("../../images/book.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    margin-top: 35%;
    border-radius: 5%;
    transition: transform 3s; 
}

.army-detail-image:hover {
    animation: rotate360 3s infinite; 
}

.book-detail-image:hover {
    animation: rotate360 3s infinite; 
}

@keyframes rotate360 {
    to {
        transform: rotateY(360deg); 
    }
}

.form-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



