.dashboard-content {
    padding: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 400px;
    margin: 50px 5px 30px 20px;
    height: 27vh;
    color: #e1d2d2;
  }
  
.bar-chart-container {
    margin-top: 20px;
  }